@media(max-width:991px) {
    .testimonial .slick-next {
        right: 43%;
    }

    .testimonial .slick-prev {
        left: 43%;
    }

    .how_it_work_right h4 {
        font-size: 32px;
    }

    .how_it_work_right p {
        font-size: 18px;
    }

    .service_img_box {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .title_box p {
        max-width: 576px;
    }

    .favorites_card_sub {
        flex: 0 0 48.5%;
        max-width: 48.5%;
    }

    .map_tab_box .map_right_box {
        height: 500px;
    }

    .detail_thumbnail_box .banner-slider .slider.slider-for,
    .detail_thumbnail_box .banner-slider .slider.slider-nav {
        max-width: 100%;
        float: none;
    }

    .detail_thumbnail_box .banner-slider .slider.slider-for {
        padding-right: 0;
    }

    .detail_thumbnail_box .banner-slider .slider.slider-nav {
        height: auto;
    }

    .detail_thumbnail_box .slider-banner-image {
        height: 500px;
    }

    .detail_thumbnail_box .slider.slider-nav.thumb-image {
        padding: 10px 45px 0;
    }

    .detail_thumbnail_box .slider-nav .slick-slide span {
        padding: 5px 0;
    }

    .detail_thumbnail_box .slick-arrow {
        padding: 0;
        width: 30px;
        height: 30px;
        top: 50%;
        bottom: 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }

    .detail_thumbnail_box .slick-prev {
        left: 0;
        right: unset;
    }

    .detail_thumbnail_box .slick-next {
        left: unset;
        right: 0;
        background-color: transparent;
    }

    .detail_thumbnail_box .vehicle-detail-banner .car-slider-desc {
        max-width: 340px;
    }

    .detail_thumbnail_box .bid-tag {
        padding: 10px 0 15px;
    }

    .detail_thumbnail_box .slider.slider-nav.thumb-image {
        white-space: nowrap;
    }

    .detail_thumbnail_box .thumbnail-image.slick-slide {
        padding: 0px 5px;
        min-width: 75px;
        display: inline-block;
        float: none;
    }

    .detail_thumbnail_box .slick-slide img {
        width: 200px;
    }

    .detail_thumbnail_box .slider-banner-image img {
        width: 100% !important;
    }
}

@media(max-width:767px) {
    .login_wrapper {
        height: 100%;
        position: relative;
        min-height: 100vh;
    }

    .login_box {
        margin-bottom: 20px;
    }

    .logo_box {
        position: relative;
        width: 200px;
        margin-bottom: 40px;
    }

    header {
        height: auto;
    }

    .testimonial_box-top {
        flex-wrap: wrap;
    }

    .email_search_box {
        width: 100%;
    }

    .testimonial_box-text p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 50px;
    }

    .testimonial .slick-next,
    .testimonial .slick-prev {
        bottom: 0%;
    }

    .testimonial .slick-next {
        right: 40%;
    }

    .testimonial .slick-prev {
        left: 40%;
    }

    .banner_content_box {
        height: auto;
    }

    .banner_search_main form {
        flex-wrap: wrap;
        height: auto;
        padding: 0;
    }

    .banner_text_location input {
        height: 46px;
        border-bottom: 1px solid #004aad;
        border-right: 0px;
    }

    .banner_text_price {
        width: 100%;
        height: 46px;
        border-bottom: 1px solid;
    }

    .banner_text_price input {
        width: 100%;
        height: 46px;
        border-bottom: 1px solid #004aad;
        border-right: 0px;
    }

    .price_text {
        top: 12px;
    }

    .banner_text_filter {
        width: 100%;
        height: 46px;
    }

    .banner_text_filter input {
        width: 100%;
        height: 46px
    }

    .filter_text {
        right: 40px;
        top: 19px;
    }

    .search_btn {
        width: 100%;
        position: relative;
        border-radius: 12px;
        margin-top: 10px;
    }

    .banner_content_box h2,
    .how_it_work_right h4,
    .how_it_work_right h4 {
        font-size: 32px;
    }

    .email_box {
        padding: 26px 26px;
    }

    .email_box h2 {
        font-size: 26px;
    }

    footer {
        background: #193C75;
    }

    .favorites_card_sub {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .my_account_tabing {
        flex-wrap: wrap;
    }

    .my_account_tabing .nav {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .my_account_tabing .tab-content {
        margin-left: 0;
    }

    .self_storage_center .storage_grid {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .storage_grid_reault,
    .storage_grid_shorting {
        margin-bottom: 20px;
    }

    .detail_thumbnail_box .slider-banner-image {
        height: 400px;
    }

    .detail_thumbnail_box .slider.slider-nav.thumb-image {
        padding: 0px 20px 0;
        margin: 10px 0px 0;
    }

    .detail_thumbnail_box .slider-nav .slick-slide.thumbnail-image .thumbImg {
        max-width: 140px;
        height: 80px;
    }

    .detail_thumbnail_box .slick-prev.slick-arrow {
        background-position: center 10px;
    }

    .detail_thumbnail_box .slick-next.slick-arrow {
        background-position: center 10px, center;
    }

    .detail_thumbnail_box .slider-nav .slick-slide span {
        font-size: 12px;
        white-space: normal;
    }

    .storage_details_left__main .storage_name_box {
        margin-top: 20px;
        flex-direction: column;
    }

    .storage_details_left__main .storage_name_box .storage_name_box_right {
        margin-top: 20px;
    }

    .payment_method_section .payment_box .payment_box_header .nav-pills {
        display: flex;
        flex-direction: column;
    }

    .payment_method_section .payment_box .payment_box_header .nav-pills .nav-item {
        margin: 10px 0;
    }

    .payment_method_section .payment_box,
    .thank_u_page .thank_u_box {
        width: 100%;
    }


}

@media(max-width:757px) {
    .header_top {
        height: auto;
    }

    .header_top_right {
        text-align: left;
    }

    .header_top_left,
    .header_top_right {
        text-align: center;
    }

    .detail_thumbnail_box .slick-slide img {
        width: 160px;
    }

}

@media screen and (max-width: 580px) {
    .detail_thumbnail_box .slider-banner-image {
        height: 340px;
    }
}

@media(max-width:575px) {
    .self_store_section .self_storage_top .search_box_right {
        flex-direction: column;
    }

    .self_store_section .self_storage_top .search_box_right .price__box {
        width: 120px;
    }

    .self_store_section .self_storage_top .search_box_right .filter__box {
        width: 100px;
    }

    .self_store_section .self_storage_top .search_box_right .dropdown_box,
    .self_store_section .self_storage_top .search_box_right .price__box,
    .self_store_section .self_storage_top .search_box_right .filter__box {
        margin-bottom: 16px;
    }

    .find_storage_btn {
        width: 200px;
    }

    .list_tab_box .grid__main__box {
        flex-direction: column;
        justify-content: flex-start;
    }

    .list_tab_box .grid__main__box .grid_left_box .grid_left_subbox {
        flex-direction: column;
        width: 100%;
    }

    .list_tab_box .grid__main__box .grid_left_box .grid_left_subbox .list_img_box {
        width: 100%;
    }

    .list_tab_box .grid__main__box .grid_left_box .grid_left_subbox .list_img_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .list_tab_box .grid__main__box .grid_left_box .grid_left_subbox .list_content_box {
        padding-left: 0;
        margin: 9px 0;
    }

    .list_tab_box .grid__main__box .grid_left_box .grid_left_subbox .list_content_box ul {
        padding-left: 27px;
    }

    .list_tab_box .grid__main__box .grid_right_box h6 {
        text-align: left;
        margin: 14px 0;
    }

    .self_storage_center .self_storage_content h4 {
        font-size: 18px;
    }

    .map_tab_box .map_right_box {
        height: 300px;
    }

    .detail_thumbnail_box .slick-slide img {
        width: 120px;
    }

    .storage_review_box .review_card .review_card_img {
        float: none;
    }

    .storage_review_box .review_card .review_card_content {
        margin-left: 0;
        margin-top: 20px;
    }

    .storage_details_left__main .store_map_box iframe {
        height: 300px;
    }

    .storage_details_left__main .storage_name_box .storage_name_box_left .store_contact_box a {
        display: block;
        margin-bottom: 10px;
    }

    .chat_box_main_wrapper .chat_box_body .chat_list .chat_sub_list .chat_box_content h4 {
        font-size: 14px;
    }

    .chat_box_main_wrapper .chat_box_body .chat_list .chat_sub_list .chat_box_content p {
        font-size: 12px;
    }

    .chat_box_main_wrapper .chat_box_body .chat_list .chat_sub_list .chat_box_content_right .chat_time {
        font-size: 12px;
    }

    .chat_sub_list .chat_box_img img {
        width: 40px;
    }

    .thank_u_page .thank_u_box h2 {
        font-size: 22px;
    }

    .thumbnail-btn_rht {
        text-align: left;
    }

    .editpost_btn,
    .delete_btn,
    .inquires_btn {
        margin-bottom: 10px;
    }

    .myads_grid_shorting {
        justify-content: flex-start;
        margin-top: 20px;
    }

    .myads_storage_card {
        flex-direction: column;
    }

    .myads_storage_card_lft {
        width: 100%;
        margin-bottom: 20px;
    }

    .myads_storage_card_lft img {
        width: 100%;
    }

    .myads_storage_card .myads_storage_card_rht .dropdown {
        right: 20px;
        top: 20px;
    }
}

@media(max-width:500px) {
    .login_box {
        width: 100%;
    }

    header .navbar .navbar-brand img {
        width: 120px;
    }

    .testimonial_box-img img {
        width: 160px;
        height: 160px;
    }

    .testimonial .slick-next {
        right: 36%;
    }

    .testimonial .slick-prev {
        left: 36%;
    }

    .banner_content_box h2,
    .how_it_work_right h4 {
        font-size: 24px;
    }

    .email_box h2 {
        font-size: 20px;
    }

    .service_content_box h2 {
        font-size: 40px;
    }

    .title_box p {
        max-width: 100%;
        padding: 0 10px;
    }

    .report__storage__card {
        flex-direction: column;
    }

    .report__storage__imgbox {
        width: 100%;
        margin-bottom: 20px;
    }

    .report__storage__imgbox img {
        width: 100%;
    }

    .create_previous_btn,
    .creat_post_next {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width : 480px) {
    .detail_thumbnail_box .slider-banner-image {
        height: 280px;
    }

    .detail_thumbnail_box .slick-slide img {
        width: 100px;
    }

    .chat_box_main_wrapper {
        width: 100%;
    }

    .payment_method_section .payment_box .payment_box_header h2 {
        font-size: 20px;
    }

    .payment_method_section .payment_box .payment_box_header p {
        font-size: 14px;
    }

    .thank_u_page .thank_u_box h2 {
        font-size: 18px;
    }
}

@media(max-width:380px) {
    .testimonial .slick-next {
        right: 30%;
    }

    .testimonial .slick-prev {
        left: 30%;
    }

    .email_search_box input {
        height: 50px;
    }

    .emil_submit {
        top: 5px;
    }

    .email_box h2,
    .how_it_work_right p {
        font-size: 18px;
    }

    .service_content_box h2 {
        font-size: 30px;
    }

    .storage_details_left__main .store_amenities_box a span {
        font-size: 14px;
        padding-left: 15px;
    }

    .storage_details_left__main .storage_review_box .storage_review_box_header {
        flex-direction: column;
        align-items: flex-start
    }

    .storage_details_left__main .storage_review_box .storage_review_box_header_rht {
        margin: 10px 0 20px 0;
    }

    .create_storage_box .create_post_input {
        margin: 6px 0px;
    }
    .create_storage_box{
        flex-wrap: wrap;
    }
}

@media(max-width:352px) {
    .banner_tabing .nav-tabs .nav-item {
        width: 100%;
    }

    .storage_grid_tabing .nav-pills .nav-link {
        padding: 8px 9px;
    }
}

@media(max-width:290px) {
    .testimonial .slick-next {
        right: 27%;
    }

    .testimonial .slick-prev {
        left: 27%;
    }

    .chat_sub_list .chat_box_img img {
        width: 25px;
    }
}

@media(max-width:912px) and (min-width:576px) {
    .thank_u_page {
        height: calc(100vh - 482px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}